<h3>Todos</h3>

@code {
    /*Todo create student course collection that houses similar to courses collection from 100-extra
     levels , and each containing student data and a list of the courses ids they are taking
     and wehta thems be carry over or not  and just a lil bit more info on students and the identifier or rather
     main key should be the students matriculation number for easier querrrry.
     and add page for students to add their courses , and if possible allow whoever sart course attendance session
     to send notification to all students who are taking that particular course,
     
     Todo i do belive it might be time to allow session creating ok need to thik bout that later on though
     what else is needed right now yap fix the crypto service for the attendance qr code its messed up since we chnaged some stuff in 
     the encryption service 
      oh yeah for online sessions we could use supa base edge function to handle cryptography stuff to and other relevant things
      
      Todo also the student course data stuff refreshes after each semester keep that in mind, keep tract of current runing semester, when it ends
      and and for both lecturer,student save local copy of the courses thems be doing as well using blazor local app storage init,
      what else aside form some profile settings, actual user suff, css magiic i think wez almost done with this shit
      
      Todo when start attendance session online we get all students taking the course and add them but set signd to false and stuff
      then when they actually sign change it and make sure u que , batch signing to avoid any unessesary over writing of files,hmm
      
      Todo dont forget about record prinitin, stats based on attendance for each course,day,semester(no need for session only semester matter)
      
      Todo delete this
      
      
     */
}