<button class="secondary-button @Class" type="@Type" @onclick="OnClick" disabled="@Disabled">
    @Text
</button>

@code {
    //secondary button essentially a less imp version of primary
    //needs updates regarding title or was it type
[Parameter] public string Text { get; set; }
[Parameter] public EventCallback OnClick { get; set; }
[Parameter] public string Class { get; set; }
[Parameter] public string Type { get; set; } = "button";
[Parameter] public bool Disabled { get; set; } = false;
}