@page "/"
@using AirCode.Services.Auth
@using AirCode.Components.SharedPrefabs.Others
@inject NavigationManager NavigationManager
@inject IAuth0Service Auth0Service

<BlobBackground />
<div class="main-content">
  
<h1>Welcome to AirCode</h1>

<button class="btn btn-primary" @onclick="Login">Login with Auth0</button>
</div>

@code {
   //ok from here here is what we gonna do from this page which is our starting page
   //remember u have to do the actual project words stuff too its annoying but such is life
   /// <summary>
   /// we cheack if player is connected to za internet or not 
   /// case HasInternet -> run auth0 login and we have set up how thats handled so no issue there
   /// except of cource we have to be able to retrive users metadata or u know what lets do this when we do all the maginc
   /// in auth0 update our firebase data base with the users id and role, and admin id if applicable , make sure to compress though maybe
   /// then over here if we test and cant get metadata from the auth0 itself then we just simply use firebase and create offline credentials from there in our call back page which
   /// should lead to superior or standard or cleinet pages based of our claims and there we handle the rest of the magic note dont forget to store our offline credentials key,iv in firebase too
   /// case NoInternet -> check for valid offline credentials
   /// case Has -> then authenticate locally get role and send to page offline mode or even create a seprate offline page for regular admins and clients
   /// note superior admin does not have offline mode nor do we store his offline credentials
   /// case DoesNotHave -> show message and quit app or something
   /// hmm we also need to run one more cheack withn the offline mode and prompt user if they want to reconnect (their network is working) to net,
   /// if they agree we just send them back to / to start again else we leave them alone
   /// ok this is a preety solid foundation for the auth now the whole attendance business make this in another script init
   /// and for godssake stop it with the shit spellingz
   /// and yeah yeah yeah only store credentials after auuth callback when all is good,we probably dont need the button above but
   /// hmmm unless we actually make it like continue offline, continue online sorta business hmm auto or manual
   /// manual give option to go offline even with internet connection mauto does not
   /// this is a conondrum not how itssspelt
   /// the council has decided we will go manual but but but for online make sure to cheack if player is online first init so spifi up the index page make it look good also use our blobs 
   /// </summary>
   /// 
protected override  void OnInitialized()
{
// Navigate to Auth page after initial load
//NavigationManager.NavigateTo("Auth");
    //await Auth0Service.LoginAsync();
}
private void Login()
{
    NavigationManager.NavigateTo("/Admin/CreateSession");
   // await Auth0Service.LoginAsync();
}

}