@page "/example"
@using AirCode.Components.SharedPrefabs.Cards
@using Blazored.Toast.Configuration
@using Blazored.Toast
<h3>Notification Example</h3>

<!-- Remove this line 
CloseButtonClass="custom-close-btn"-->

<!-- Updated BlazoredToasts configuration -->
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast"
                InfoClass="info-toast"
                WarningClass="warning-toast"
                ErrorClass="error-toast"
                ShowProgressBar="true" />
<NotificationComponent @ref="notificationComponent" 
                       Position="NotificationComponent.NotificationPosition.TopRight"
                       AutoDismissTime="5000"
                       ShowProgressBar="true"
                       ShowCloseButton="true"
                       PauseOnHover="true" />

<div class="button-group">
    <button class="btn btn-success" @onclick="ShowSuccess">Show Success</button>
    <button class="btn btn-info" @onclick="ShowInfo">Show Info</button>
    <button class="btn btn-warning" @onclick="ShowWarning">Show Warning</button>
    <button class="btn btn-danger" @onclick="ShowError">Show Error</button>
    <button class="btn btn-secondary" @onclick="ClearAll">Clear All</button>
</div>
