@* Components/SharedPrefabs/Others/BlobBackground.razor *@
<div class="main-background">
    @for (int i = 1; i <= 6; i++)
    {
        <div class="blob blob-@i">
            <div class="blob-inner" style="background-color: @GetRandomColor()"></div>
        </div>
    }
</div>

@code {
    private Random random = new Random();

    private string GetRandomColor()
    {
        string[] colors = { "#ff0000", "#3c00ff", "#1eff00", "#ff6b00", "#ff00ea", "#00ffff" };
        return colors[random.Next(colors.Length)];
    }
}